//Header
<nav class="navbar navbar-light" style="background-color: #eb5b34;">
    <div class="container-fluid">
        <a href="#" class="navbar-brand" style="color: white;">Home</a>
        <form class="form-inline mx-auto order-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-1 my-sm-2" style="color:white;" type="submit">Search</button>
        </form>
        <a href="#" class="navbar-brand" style="color: white;">Log out</a>
    </div>
</nav>
