.jumbotron{
    margin: 4px;
    padding-right: 0%;
    padding-top: 0%;
    padding-left: 15%;
    
}
.container {
    margin-right: 1px;
    margin-bottom: 1000px;
    width: 90vw;
    height: 90vh;

}
